.movie-card {
  margin: 20px;
  display: flex;
  padding-bottom: 20px;
  border-bottom: 2px solid rgb(233, 231, 231);
}

.movie-content {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

.movie-title_rating {
  display: flex;
  justify-content: space-between;
}

.movie-content-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  margin-top: 10px;
}

.plus {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  color: hsl(217, 71%, 53%);
  text-decoration: underline;
}

.error {
  font-size: 20px;
  color: red;
}

@media screen and (max-width: 767px) {
  .movie-card {
    flex-direction: column;
  }
  .movie-img-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
}
