.movie-details-wrapper {
  display: flex;
  flex-direction: column;
}

.movie-details {
  margin: 20px;
  display: flex;
  padding-bottom: 20px;
}

.movie-details-img-wrapper img {
  width: 300px;
  height: 450px;
}

.movie-details-content {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

.movie-details-title_rating {
  display: flex;
  justify-content: space-between;
}

.movie-details-content-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-top: 10px;
}

.back {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
  margin-bottom: 10px;
  color: hsl(217, 71%, 53%);
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .movie-details {
    flex-direction: column;
  }
  .movie-details-img-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
}
